@font-face {
  font-family: "NotoBold";
  src: url("../fonts/notosans-bold-webfont.eot");
  src: url("../fonts/notosans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-bold-webfont.woff2") format("woff2"), url("../fonts/notosans-bold-webfont.woff") format("woff"), url("../fonts/notosans-bold-webfont.ttf") format("truetype"), url("../fonts/notosans-bold-webfont.svg#noto_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoItalic";
  src: url("../fonts/notosans-italic-webfont.eot");
  src: url("../fonts/notosans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-italic-webfont.woff2") format("woff2"), url("../fonts/notosans-italic-webfont.woff") format("woff"), url("../fonts/notosans-italic-webfont.ttf") format("truetype"), url("../fonts/notosans-italic-webfont.svg#noto_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoRegular";
  src: url("../fonts/notosans-regular-webfont.eot");
  src: url("../fonts/notosans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/notosans-regular-webfont.woff2") format("woff2"), url("../fonts/notosans-regular-webfont.woff") format("woff"), url("../fonts/notosans-regular-webfont.ttf") format("truetype"), url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoLight";
  src: url("../fonts/notosans-light-webfont.woff2") format("woff2"), url("../fonts/notosans-light-webfont.woff") format("woff"), url("../fonts/notosans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(53, 63, 70, 0.7);
  height: 110px;
  width: 100%;
}

li {
  float: right;
  display: block;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 5px;
  text-decoration: none;
  margin-left: 1%;
}

li:hover {
  color: #4bcaff;
  border-style: solid;
  border-color: #4bcaff;
}

h1 {
  float: left;
  color: #fff;
  margin-left: 10%;
  text-align: center;
}
h1 span {
  color: #4bcaff;
}

.row h2 {
  text-align: center;
  border-style: solid;
  background-color: rgba(53, 63, 70, 0.7);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}