$white-copy: #fff;
$nav-bg: rgba(53, 63, 70, .7);
$dark-bg: #353f46; //top menu, visit me, footer
$light-blue: #4bcaff; //e, selected-menu, twitter section, testimonial-name, message button
$visit-me-color: #06090b;
$grey: #404a52; //header copy
$bluegrey: #515f67; //dark copy, just default section

// top-menu: #353f46
// e: #4bcaff
// selected-menu: #4bcaff
// header-copy: #404a52
// dark-copy: #515f67
// white-copy: #ffffff
// just-default-section: #515f67
// visit-me: #353f46
// twitter-section: #4bcaff
// testimonial-name: #4bcaff
// message-button: #4bcaff
// footer: #353f47





